:root {
  --color-1: #000;
  --color-2: #fff;
  --color-3: #c02727;
}

.dark {
  --background-color: var(--color-1);
  --foreground-color: var(--color-2);
  --accent-color: var(--color-3);
}

.light {
  --background-color: var(--color-2);
  --foreground-color: var(--color-1);
  --accent-color: var(--color-3);
}