footer
  form(action="")
    h4 Sign up for our newsletter
    input(type="email" placeholder="name@email.com")
    button Sign up

  nav
    li
      a(href="/") About
      a(href="/menu") Menu
      a(href="/blog") Blog
      a(href="/contact") Contact
      a(href="/shop") Shop
  
  ul
    li
      a(href="facebook") Facebook
      a(href="twitter") Twitter