header
  a(href='/')
    img(src='https://etowncolorado-content.web.app/images/logo.svg', width='90')
  nav
    ul
      li
        a(href='/') About
      li
        a(href='/menu') Menu
      li
        a(href='/blog') Blog
      li
        a(href='/contact') Contact
      li
        a(href='/shop') Shop