header
  h1 A relaxing environment with great food, great drinks and great people.
  p For over 10 years e|town has been providing a warm and inviting place where delicious meals are prepared, and friends and family gather. With a passion for pure flavor, we create a menu of diverse, approachable, ingredient-driven plates prepared from scratch.
  figure
    img(src='http://placekitten.com/400/300')